.container {
  width: 100%;
  min-height: 300px;
  overflow: hidden;
  margin: 20px auto;
  border-radius: 5px;
  box-shadow: 2px 2px 10px #000000;
  padding: 15px;
  box-sizing: border-box;
}

.face,
.title,
.content,
.btn {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  margin-top: 20px;
}
.face img{
  width: 60px;
  border-radius: 50%;
  border: 3px solid white;
  cursor: pointer;
  transition: all 0.2s ;
}
.face img:hover{
  border: 3px solid #0088ff;

}
.face .on{
  border: 3px solid #0088ff;
}
.title input{
  width: 100%;
  height: 30px;
  border-radius: 4px;
  border: 1px solid #0088ff;
  padding: 2px 10px;
  box-sizing: border-box;
}
.content textarea{
  width: 100%;
  height: 60px;
  border-radius: 4px;
  border: 1px solid #0088ff;
  padding: 2px 10px;
  box-sizing: border-box;
}

.btn button {
  padding: 4px 10px;
  border: 0;
  border-radius: 3px;
  color: white;
  background-color: #0088ff;
  cursor: pointer;
}
.btn a {
  font-size: 14px;
  text-decoration: none;
  color: #0088ff;
  margin-left: 20px;
}
.content h6 {
  margin: 0;
}

.label {
  width: 10%;
}

.right {
  width: 89%;
}

.tags {
  display: flex;
  justify-content: space-between;
  width: 40%;
  margin-top: 20px;
}

.tags .tag {
  padding: 5px 10px;
  border: 1px solid #0088ff;
  border-radius: 3px 3px 0 0;
  width: 25%;
  text-align: center;
  cursor: pointer;
  font-size: 14px;
  border-bottom: 0px;
  transition: all 0.2s ;
}

.tags .tag:hover {
  background: #0088ff;
  color: white;
}

.tags .on {
  background: #0088ff;
  color: white;
}

.list {
  width: 100%;
  min-height: 300px;
  max-height: 300px;
  border: 1px solid #0088ff;
  padding: 15px;
  box-sizing: border-box;
  overflow:auto
}

.list .item {
  width: 100%;
  height: 100px;
  box-shadow: 0px 1px 2px #0088ff;
  border-radius: 4px;
  padding: 15px;
  box-sizing: border-box;
  overflow: hidden;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.list .item img {
  width: 50px;
  border-radius: 50%;
}

.list .item .face {
  margin: 0;
}

.list .item .content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 90%;
  margin: 0;
}

.list .item .btn {
  width: 15%;
  margin: 0;
}

.list .item button {
  padding: 4px 10px;
  border: 0;
  border-radius: 3px;
  color: white;
  background-color: #0088ff;
  cursor: pointer;
}